<h3>Application Form</h3>

<form action="/job/{{job['id']}}/apply" method="post">

  <div class="mb-2">    
  <label>Full Name</label><br>
  <input type="text" name="full_name" placeholder="James Bond">
  </div>

  <div class="mb-2">
  <label>Email</label><br>
  <input type="text" name="email" placeholder=jamesbond@jovia.com>
  </div>

  <div class="mb-2">
  <label>LinkedIn URL</label><br>
  <input type="text" name="linkedin_url" placeholder="www.linkedin.com/ca/jamesbond">

  <div class="mb-2">
  <label>Education</label><br>
  <textarea name="education" placeholder="bachelors, masters, certificates"></textarea>


  <div class="mb-2">
  <label>Experience</label><br>
  <textarea name="work_experience" placeholder="beginner, intermediate, expert">
</textarea>

  <div class="mb-2">
  <label>Resume URL</label><br>
  <input type="text" name="resume_url" placeholder="<resume>">

    <br><input type="submit">
</form>