<head>
  <style>
  h2 {
        font-size: 100px
        font-family: Roboto;
        color: rgb(50, 50, 50)
        text-align: center;
      }
  </style>
</head>

<body>
  <h2>Job openings</h2>
  {% for job in jobs %}
  <div class="row">
    <div class="col-7">
      <div style="margin-bottom:10px">
        <h4>
          {{ job['title'] }}
        </h4>
        <div>
         <b>Location: </b>{{job['location']}} 
        </div>
        <div>
          <b>Salary: </b>{{job['salary']}} 
        </div>
      </div>
  </div>
  <div class="col-4">
    <button type="button" class="btn btn-primary">Apply</button>
  </div>
  </div>
  {% endfor %} 
</body>